@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --primary-color: #40dde3;
  --secondary-color: #445164;
  --white: #ffffff;
}

.container {
  width: 94.81%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Orbitron", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #1e1e20;
}
/* header style start */

.headerBackgroundColor {
  padding-bottom: 30px;
}
.LaunchBtn {
  color: rgb(18, 18, 19);
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 5px;
  background: rgb(64, 221, 227);
  padding: 12px 14px;
}

.headerParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.MainPower {
  position: relative;
  margin-top: 50px;
}
.TopShadow {
  position: absolute;
  top: -120px;
  left: 380px;
  z-index: 0;
}
.blue1 {
  position: absolute;
  top: 120px;
  right: 430px;
  z-index: 2;
}

.blue2 {
  position: absolute;
  top: 60px;
  left: 430px;
  z-index: 2;
}
.ZArrow1 {
  position: absolute;
  top: 50px;
  z-index: 0;
}
.ZArrow2 {
  position: absolute;
  top: 380px;
  right: 0px;
  z-index: 0;
}
.shapeParent {
  z-index: 1;
  position: relative;
}
.xp2 {
  position: absolute;
  top: 320px;
  left: 200px;
}

.xp2 img {
  transform: rotate(-35deg);
}
.xp1 {
  position: absolute;
  top: 0;
  right: 290px;
  z-index: 20;
}
.xp1 img {
  transform: rotate(-5deg);
}
.secondShape {
  width: 1091.04px;
  height: 663.02px;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 8px;
  background-color: #18181b;
  backdrop-filter: blur(15px);
  padding: 12px;
  z-index: 0;
}

.grayShapeParent {
  position: absolute;
  bottom: 0px;
  z-index: 2;
  left: 353px;
}

.hash {
  position: absolute;
  bottom: 35px;
  left: 49.5%;
  z-index: 2;
}

.grayShape {
  border: 1px solid rgb(153, 153, 153);
  border-radius: 29px;
  background: rgb(140, 140, 140);
  width: 1197.73px;
  height: 38.41px;
}

.firstShape {
  position: relative;
  width: 1155.79px;
  height: 763.98px;
  border-radius: 29px;
  background-color: rgba(25, 25, 28, 0.3); /* Semi-transparent */
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(153, 153, 153);
  padding: 32px;
  z-index: 1;
  margin: 0 auto;
}
.close {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.minus {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.closeParent {
  display: flex;
  align-items: center;
  gap: 5px;
}
.xpParent {
  border-radius: 100px;
  background: rgb(42, 98, 99);
  border: 1px solid #40dde3;
  width: 335px;
}
.fiveXp {
  background-color: #40dde3;
  border-radius: 100px;
  padding: 3px 10px;
  width: 145px;
}
.fiveXp h2 {
  color: rgb(0, 0, 0);
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}
.xpMainParent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lvl {
  background: linear-gradient(
    133.06deg,
    rgb(41, 41, 41),
    rgb(255, 255, 255),
    rgb(103, 103, 103),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Orbitron;
  font-size: 55px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 10px;
}
.Powered {
  margin-top: 90px;
  z-index: 10;
}
.build {
  margin-top: 20px;
}
.join {
  margin-top: 60px;
}
.Powered h2 {
  background: linear-gradient(
    133.06deg,
    rgb(41, 41, 41),
    rgb(255, 255, 255),
    rgb(103, 103, 103),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Orbitron;
  font-size: 78px;
  font-weight: 600;
  line-height: 98px;
  letter-spacing: 0%;
  text-align: center;
}
.Powered p {
  color: rgb(222, 222, 222);
  font-family: DM Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
}
.emailField input {
  background-color: #18181a;
  border: 1px solid #404040;
  border-radius: 10px;
  color: white;
  padding: 22px 35px;
  outline: none;
  width: 525px;
}

.emailField button {
  color: rgb(18, 18, 19);
  font-family: Orbitron;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 5px;
  background: rgb(64, 221, 227);
  border: none;
  cursor: pointer;
  padding: 12px 25px;
  position: absolute;
  right: 5px;
  top: 7px;
}

.emailField {
  margin-top: 10px;
  position: relative;
}

.emailFieldParent {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* header style end */

/* meet hashrid style start */
.commonBtn {
  color: rgb(64, 221, 227);
  font-family: Orbitron;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid rgb(64, 221, 227);
  border-radius: 25.8px;
  background: rgb(18, 18, 19);
  height: 51.6px;
  padding: 0px 40px;
  margin: 30px 0px;
}

.hashridParent {
  border: 1px solid rgb(64, 64, 64);
  border-radius: 10px;
  box-shadow: 1px 20px 50px 0px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  background: rgba(18, 18, 19, 0.45);
  position: absolute;
  width: 1532px;
  height: 390.21px;
  left: 194.45px;
  top: 1000px;
}
.hashArrow {
  margin-top: 350px;
}
.featureArrow {
  position: absolute;
  margin-top: 290px;
  right: 0px;
}
.hashChild {
  text-align: center;
}
.hashChild p {
  color: rgb(222, 222, 222);
  font-family: DM Sans;
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: center;
  width: 1144px;
  margin: 0 auto;
}
.web3 {
  padding-top: 30px;
}
.hashParagraph {
  margin-top: 92px;
}

/* meet hashrid style end */

/* Features stye start  */
.featureParent {
  border: 1px solid rgb(64, 64, 64);
  border-radius: 10px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  background: rgba(18, 18, 19, 0.45);
  position: absolute;
  width: 1532px;
  height: 1051.71px;
  left: 194.45px;
  top: 1500px;
}
.featureParagraph {
  text-align: center;
}
.featureParagraph p {
  color: rgb(222, 222, 222);
  font-family: DM Sans;
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: center;
  width: 1167.57px;
  margin: 10px auto;
}
.featureCardParent {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 70px;
}
.featureCard {
  border: 1px solid rgb(64, 64, 64);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  background: rgba(18, 18, 19, 0.45);
  width: 398.16px;
  height: 362.3px;
}
.featureImg {
  text-align: center;
  position: relative;
}
.featureXp {
  position: absolute;
  top: -70px;
  right: 55px;
}
.featureInfoXP {
  margin-top: 156px;
}
.featureInfoXP h2 {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
.featureInfoXP h3 {
  font-weight: 700;
  font-size: 14px;
  color: #999999;
  font-family: DM Sans;
  margin-top: 15px;
}
.featureInfoXP p {
  width: 303px;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  font-family: DM Sans;
}

.feature {
  padding: 20px;
}
.featureInfo h2 {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
.featureInfo h3 {
  font-weight: 700;
  font-size: 14px;
  color: #999999;
  font-family: DM Sans;
  margin-top: 15px;
}
.featureInfo p {
  width: 303px;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  font-family: DM Sans;
}

.badgeCard {
  width: 623.6px;
  height: 279.75px;
  border: 1px solid rgb(64, 64, 64);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  background: rgba(18, 18, 19, 0.45);
}
.badgeBody {
  padding: 20px 30px;
}
.badgeContent {
  margin-top: 70px;
}
.handFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.badgeCardParent {
  display: flex;
  gap: 65px;
  margin-top: 52px;
  justify-content: center;
  align-items: center;
}
/* Features stye end  */

@media only screen and (max-width: 640px) {
  /* header style start */
  .firstShape {
    width: 100%;
    height: 100%;
    padding: 15px;
  }
  .lvl {
    font-size: 30px;
  }
  .Powered h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .Powered p {
    font-size: 20px;
  }
  .build {
    margin-top: 10px;
  }
  .join {
    margin-top: 30px;
  }
  .Powered {
    margin-top: 30px;
  }
  .secondShape {
    width: 100%;
    height: 100%;
  }
  .emailField input {
    width: 100%;
  }
  .emailFieldParent {
    display: block;
  }
  .LaunchBtn {
    font-size: 16px;
    padding: 10px 12px;
  }
  .grayShapeParent,
  .TopShadow,
  .blue1,
  .blue2,
  .ZArrow1,
  .ZArrow2,
  .xp1,
  .xp2,
  .featureArrow,
  .hashArrow,
  .hash {
    display: none;
  }
  .MainPower {
    margin-top: 30px;
  }
  /* header style end */

  /* hash style start  */
  .hashridParent {
    width: 100%;
    height: 400px;
    left: 0px;
    top: 750px;
  }
  .hashChild p {
    width: 100%;
    font-size: 18px;
  }
  .hashParagraph {
    margin-top: 0px;
  }
  .web3 {
    padding-top: 10px;
  }
  .featureParent {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 1200px;
  }
  .featureParagraph p {
    font-size: 18px;
    width: 100%;
  }
  .featureCardParent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
  .featureCard {
    width: 100%;
  }
  .featureXp {
    right: 90px;
  }
  .badgeCardParent {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
  }
  .badgeCard {
    width: 100%;
  }
  .size {
    width: 150px;
  }
  .badgeBody {
    padding: 10px 15px;
  }
  /* hash style end  */
}
